/* General Styles */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #f9f9f9;
    color: #333;
}

header {
    background: #ff6347;
    color: white;
    padding: 10px 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 0;
}

nav ul li {
    margin: 0 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s;
}

nav ul li a:hover {
    color: #ffddcc;
}

main {
    padding: 20px;
    text-align: center;
}

section {
    margin: 20px 0;
}

footer {
    background: #333;
    color: white;
    text-align: center;
    padding: 15px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
    box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
}

/* Recipe Item Styles */
.recipe-item {
    display: inline-block;
    margin: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 15px;
    width: calc(45% - 40px); /* Adjusted for border, padding, and margin */
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
}

.recipe-item img {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

.recipe-item:hover {
    transform: translateY(-10px);
}

.recipe-item h3 a {
    color: #ff6347;
    text-decoration: none;
}

.recipe-item h3 a:hover {
    text-decoration: underline;
}

/* Recipe Detail Styles */
#recipe-detail img {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

#recipe-detail h2 {
    color: #ff6347;
    margin-top: 20px;
}

#recipe-detail ul, 
#recipe-detail ol {
    text-align: left;
    max-width: 600px;
    margin: 0 auto;
}

#recipe-detail ul li,
#recipe-detail ol li {
    margin-bottom: 10px;
}

/* Responsive Styles */
@media (max-width: 768px) {
    .recipe-item {
        width: calc(100% - 40px); /* Adjusted for mobile view */
    }
}

@media (max-width: 600px) {
    nav ul {
        flex-direction: column;
        align-items: center;
    }
}